/* Component: Button */

.button {
	padding: 0.75em 1.5em;
	border: none;
	border-radius: 999em;
	background-color: var(--clr-blue-light);
	color: var(--clr-white);
	transition: 0.2s ease 0s;
	cursor: pointer;
}

.button:hover {
	filter: saturate(1.5);
}

.button:active {
	filter: saturate(2);
}
