/* Component: Scaling card */

.scaling-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.scaling-card__image {
	width: 15.625rem;
	height: 12.5rem;
	object-fit: contain;
	object-position: center;
}

.scaling-card__label {
	margin-top: 0;
	color: #55808e;
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.2;
}

@media screen and (width < 48em) {
	.scaling-card__image {
		width: 6.25rem;
		height: 5rem;
	}

	.scaling-card__label {
		font-size: 1.25rem;
	}
}
